<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
  {{this.countMealsGenerated}}
    <button (click)="onGenerateClick()">generateMealplan</button>
    <table  border="1" >
        <tr>
          <th>Montag</th>
          <th>Dienstag</th>
          <th>Mittwoch</th>
          <th>Donnerstag</th>
          <th>Freitag</th>
          <th>Samstag</th>
          <th>Sonntag</th>
        </tr>
        <tr>
          <td>{{mainDishes[(mainDishesOfTheWeek[0])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[0])]}} und {{sideDishes[(sideDishesOfTheWeek[0])]}}</td>
          <td>{{mainDishes[(mainDishesOfTheWeek[2])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[2])]}} und {{sideDishes[(sideDishesOfTheWeek[2])]}}</td>
          <td>{{mainDishes[(mainDishesOfTheWeek[4])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[4])]}} und {{sideDishes[(sideDishesOfTheWeek[4])]}}</td>
          <td>{{mainDishes[(mainDishesOfTheWeek[6])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[6])]}} und {{sideDishes[(sideDishesOfTheWeek[6])]}}</td>
          <td>{{mainDishes[(mainDishesOfTheWeek[8])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[8])]}} und {{sideDishes[(sideDishesOfTheWeek[8])]}}</td>
          <td>{{mainDishes[(mainDishesOfTheWeek[10])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[10])]}} und {{sideDishes[(sideDishesOfTheWeek[10])]}}</td>
          <td>{{mainDishes[(mainDishesOfTheWeek[12])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[12])]}} und {{sideDishes[(sideDishesOfTheWeek[12])]}}</td>
        </tr>
      <tr>
        <td>{{mainDishes[(mainDishesOfTheWeek[1])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[1])]}} und {{sideDishes[(sideDishesOfTheWeek[0])]}}</td>
        <td>{{mainDishes[(mainDishesOfTheWeek[3])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[3])]}} und {{sideDishes[(sideDishesOfTheWeek[3])]}}</td>
        <td>{{mainDishes[(mainDishesOfTheWeek[5])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[5])]}} und {{sideDishes[(sideDishesOfTheWeek[5])]}}</td>
        <td>{{mainDishes[(mainDishesOfTheWeek[7])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[7])]}} und {{sideDishes[(sideDishesOfTheWeek[7])]}}</td>
        <td>{{mainDishes[(mainDishesOfTheWeek[9])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[9])]}} und {{sideDishes[(sideDishesOfTheWeek[9])]}}</td>
        <td>{{mainDishes[(mainDishesOfTheWeek[11])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[11])]}} und {{sideDishes[(sideDishesOfTheWeek[11])]}}</td>
        <td>{{mainDishes[(mainDishesOfTheWeek[13])].mealName}} mit {{vegetables[(vegetablesOfTheWeek[13])]}} und {{sideDishes[(sideDishesOfTheWeek[13])]}}</td>
      </tr>
    </table>
  <div align="right">
    <table>
      <tr>
      </tr>
    </table>
  </div>
  </body>
</html>
